@mixin font-face($font-family, $url, $weight) {
	@font-face {
		src: url("../fonts/#{$url}.woff2") format("woff2"),
		url("../fonts/#{$url}.woff") format("woff");
		font-family: "#{$font-family}";
		font-weight: #{$weight};
		font-style: normal;
		font-display: swap;
	}
}

$maxWidth: 1430;

@mixin adaptive-font ($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@include font-face("Derold", "Derold", 400);
@include font-face("Circe", "Circe", 400);
