.section
	padding: 80px 0
	background: $accent-color

.logo
	z-index: 5
	display: block

	&__img
		max-width: 260px
		height: 70px
		vertical-align: bottom
		fill: $broom
		cursor: pointer
		transition: all .2s
		@media (max-width: 992px)
			max-width: 200px

.title
	font-family: "Kazimir", sans-serif
	letter-spacing: 2px
	margin: 0
	margin-bottom: 50px
	color: $broom
	+adaptive-font(35, 25)
	max-width: 650px
	@media (max-width : 768px)
		text-align: center
	@media (max-width : 480px)
		margin-bottom: 15px
		padding: 20px 0

.link
	display: inline-block
	padding: 15px 20px
	text-align: center
	border: 2px $broom solid
	background-color: $broom
	color: $black
	transition: all .2s
	border-radius: 15px

	&:hover
		border: 2px $broom solid
		color: $white
		background-color: transparent

.btn
	margin-right: auto
	padding: 20px 60px
	width: 300px
	border: 2px $broom solid
	background-color: $accent-color
	color: $white
	transition: all .2s
	border-radius: 5px

	&:hover
		border: 2px $broom solid
		color: $accent-color
		background-color: $broom

	&--form
		width: 100%
		padding: 15px 60px
		@media (max-width : 768px)
			width: 100%


@keyframes neon-2
	from
		text-shadow: 0 0 20px $broom
		text-shadow: 0 0 35px $broom
		text-shadow: 0 0 40px $broom
		text-shadow: 0 0 50px $broom
		text-shadow: 0 0 800px $broom

	to
		text-shadow: 0 0 5px $broom
		text-shadow: 0 0 10px $broom
		text-shadow: 0 0 15px $broom
		text-shadow: 0 0 20px $broom