html
	box-sizing: border-box
	scroll-behavior: smooth
	height: 100%

*,
*::before,
*::after
	box-sizing: inherit

body
	margin: 0
	font-family: "Mediator", sans-serif
	font-weight: 500
	color: $broom
	background-color: $accent-color
	height: 100%

	&.lock
		overflow: hidden

.site-container
	overflow: hidden
	min-height: 100%
	line-height: 1.1
	display: flex
	flex-direction: column

.main
	flex: 1 1 auto

.container
	margin: 0 auto
	max-width: 1430px
	padding: 0 15px

img
	max-width: 100%
	object-fit: cover

.link-reset
	text-decoration: none
	color: inherit

.list-reset
	margin: 0
	padding: 0
	list-style: none

.btn-reset
	padding: 0
	border: none
	color: inherit
	background: transparent
	cursor: pointer

.menu__link
	&:focus
		outline: 2px solid $broom
		border-radius: 5px
		outline-offset: 2px

.is-hidden
	display: none

.error
	border: 2px rgb(240, 100, 100) solid

.js-focus-visible :focus:not(.focus-visible)
	outline: none
