<section class="form" id="form">
	<div class="container">

		<h2 class="title" id="form-title">Записаться на марафон</h2>

		<div class="form__wrap">

			<form class="form__box" action="telegram.php" method="POST">

				<div class="wrap__form-group">
					<div class="form-group">
						<span class="form-name">Ваше имя:</span>
						<input type="text" class="form-control" id="" name="name" placeholder="Введите имя" required
							autocomplete="off" maxlength="15" minlength="2">
					</div>

					<div class="form-group">
						<span class="form-name">Ваш ник в telegram:</span>
						<input type="text" class="form-control form-telegram" id="username" name="username"
							placeholder="Введите ник" required autocomplete="off" maxlength="33">
					</div>
				</div>

				<div class="form-group">
					<span class="form-name">Ваше сообщение или вопрос:</span>
					<textarea class="form-text" name="msg" placeholder="Введите сообщение" maxlength="500"></textarea>
				</div>

				<button type="submit" onclick="AtSign()" class=" btn-reset btn">Отправить форму</button>
			</form>

		</div>
	</div>
</section>