<header class="header lock-padding" id="header">
	<div class="header__container">
		<a href="index.html" class="logo header__logo">
			<svg class="logo__img">
				<use href="img/sprite.svg#logo"></use>
			</svg>
		</a>
		<div class="menu header__menu">
			<button class="burger menu__burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".what" href="#what">Что будет</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".to-whom" href="#to-whom">Кому полезно</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".question" href="#question">Вопросы</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".timetable" href="#timetable">Расписание</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".form__title" href="#form-title">Записаться</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>