<header class="header lock-padding" id="header">
	<div class="header__container">
		<a href="#" class="logo header__logo">
			<svg class="logo__img">
				<use href="img/sprite.svg#logo"></use>
			</svg>
		</a>
		<div class="menu header__menu">
			<button class="burger menu__burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".section-1" href="#">Раздел №1</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".section-2" href="#">Раздел №2</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".section-3" href="#">Раздел №3</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>