<header class="header lock-padding fixed" id="header">
	<div class="header__container">
		<a href="index.html" class="logo header__logo">
			<svg class="logo__img">
				<use href="img/sprite.svg#logo"></use>
			</svg>
		</a>
		<div class="menu header__menu">
			<button class="burger menu__burger btn-reset" aria-label="Открыть меню">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".what-title" href="#"
							>Что будет</a
						>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".how-title" href="#"
							>Как проходит</a
						>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".whom-title" href="#"
							>Кому подходит</a
						>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto=".modules-title" href="#"
							>Модули</a
						>
					</li>
					<li class="menu__item">
						<a
							class="menu__link link-reset"
							data-goto=".question-title"
							href="#"
							>Вопросы</a
						>
					</li>
					<li class="menu__item">
						<a
							class="link menu__link menu__link--black link-reset"
							data-goto=".form-title"
							href="#"
							id="button-form"
							>Записаться</a
						>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
