<section class="hero" id="hero">
	<div class="container hero__container">
		<div class="hero__wrap">
			<div class="hero__card wow">
				<div class="hero__text">
					<h1 class="hero__title">
						<span class="nowrap yagla-422428">Курс&nbsp;по</span>
						<span class="nowrap yagla-422429">веб&#8209;разработке&nbsp;1.0</span>
					</h1>
					<p class="hero__subtitle">
						Много&nbsp;практики. Поддержка&nbsp;кураторов.
						Идеально&nbsp;для&nbsp;новичков.
						Разбор&nbsp;практических&nbsp;задач. Приятная&nbsp;цена.
						Розыгрыш&nbsp;призов.
					</p>
				</div>
				<a href="#form-title" class="link hero__link link-reset">
					Научиться разрабатывать сайты
				</a>
			</div>
			<div class="hero__img wow">
				<img src="img/hero/hero-bg.svg" width="400" height="400" alt="Dev">
			</div>
		</div>
	</div>
	<div class="container">
		@include('cookie.html')
	</div>
</section>