<section class="hero" id="hero">
	<div class="container hero__container">
		<div class="hero__wrap">
			<div class="hero__card wow">
				<div class="hero__text">
					<h1 class="hero__title">
						Марафон&nbsp;по веб&#8209;разработке 1.0
					</h1>
					<p class="hero__subtitle">
						С&nbsp;нуля научим создавать полноценные сайты и&nbsp;поможем построить карьеру мечты. Даже если
						до&nbsp;этого&nbsp;Вы не&nbsp;сталкивались с&nbsp;IT.
					</p>
				</div>
				<a href="#form-title" class="link hero__link link-reset">
					Запишитесь на марафон
				</a>
			</div>
			<div class="hero__img wow">
				<img src="img/hero/hero-bg.svg" width="400" height="400" alt="Dev">
			</div>
		</div>
	</div>
</section>