<section class="hero">
	<div class="container hero__container">
		<div class="hero__wrap">
			<div class="hero__card">
				<h1 class="hero__title">
					Марафон по&nbsp;вёрстке 1.0
				</h1>
				<p class="hero__subtitle">
					Научишься верстать макеты Figma на&nbsp;HTML и&nbsp;CSS с&nbsp;нуля за&nbsp;10&nbsp;дней
				</p>
				<a href="#" class="link-reset hero__link">
					Записаться
				</a>
			</div>
			<div class="hero__img">
				<img src="img/hero/hero-bg.svg" alt="Dev">
			</div>
		</div>
	</div>
</section>