<section class="how">
	<div class="container">
		<h2 class="how__title title">
			Как будет проходить марафон?
		</h2>
		<div class="how__wrap">
			<div class="how__inner">
				<span class="how__text">
					Получаете урок в телеграм-канале марафона
				</span>
			</div>
			<div class="how__inner">
				<span class="how__text">
					Просматриваете урок и изучаете теорию
				</span>
			</div>
			<div class="how__inner">
				<span class="how__text">
					Выполняете практическое задание
				</span>
			</div>
			<div class="how__inner">
				<span class="how__text">
					Сдаёте задачу на проверку
				</span>
			</div>
			<div class="how__inner">
				<span class="how__text">
					Получаете обратную связь по заданию
				</span>
			</div>
		</div>
	</div>
</section>