<section class="how">
	<div class="container">

		<h2 class="title how-title">Как проходит марафон</h2>

		<div class="how-box">

			<div class="how__wrap">
				<p class="how__text">
					Получаете уроки в телеграм-канале марафона
				</p>
			</div>
			<div class="how__wrap">
				<p class="how__text">
					Просматриваете их и изучаете теорию
				</p>
			</div>
			<div class="how__wrap">
				<p class="how__text">
					Выполняете практические задачи
				</p>
			</div>
			<div class="how__wrap">
				<p class="how__text">
					Сдаёте их на проверку
				</p>
			</div>
			<div class="how__wrap">
				<p class="how__text">
					Получаете обратную связь
				</p>
			</div>

		</div>

	</div>
</section>