<section class="modules section">
	<div class="container">
		<h2 class="title modules-title wow" id="modules-title">Модули</h2>
		<div class="tabs">
			<div class="tabs__header wow">
				<button class="tabs__header-item wow active btn-reset" type="button">
					Модуль 0
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 1
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 2
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 3
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 4
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 5
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 6
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 7
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 8
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 9
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 10
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 11
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 12
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 13
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 14
				</button>
				<button class="tabs__header-item wow btn-reset" type="button">
					Модуль 15
				</button>
			</div>
			<div class="tabs__content wow">
				<div class="tabs__content-item tab1">
					<h3 class="tabs__content-title">Вступительный модуль</h3>
					<p class="tabs__content-text">
						Расскажем как будет проходить курс, установим и&nbsp;настроим нужные
						программы и&nbsp;плагины.
					</p>
				</div>
				<div class="tabs__content-item tab2">
					<h3 class="tabs__content-title">HTML-разметка</h3>
					<p class="tabs__content-text">
						Начинать изучение веб-разработки необходимо конечно&nbsp;же
						с&nbsp;HTML-разметки. В&nbsp;этом модуле вы&nbsp;изучите теорию,
						синтаксис, а&nbsp;также познакомитесь со&nbsp;всеми стандартными,
						часто используемыми HTML-тегами и&nbsp;атрибутами для них.
					</p>
				</div>
				<div class="tabs__content-item tab3">
					<h3 class="tabs__content-title">CSS-оформление</h3>
					<p class="tabs__content-text">
						Для того чтобы стилизовать сайт используют CSS. В&nbsp;этом модуле
						вы&nbsp;узнаете что такое каскадная таблица стилей, изучите
						её&nbsp;синтаксис, познакомитесь с&nbsp;селекторами и&nbsp;всеми
						основными свойствами для них.
					</p>
				</div>
				<div class="tabs__content-item tab4">
					<h3 class="tabs__content-title">Дизайн-макеты</h3>
					<p class="tabs__content-text">
						Не&nbsp;секрет, что разработчики верстают не&nbsp;из&nbsp;головы,
						а&nbsp;по&nbsp;дизайн-макетам, в&nbsp;этом модуле вы&nbsp;научитесь
						доставать всю необходимую информацию из&nbsp;макета для вашей
						вёрстки, узнаете всё необходимое о&nbsp;форматах изображений, как
						с&nbsp;ними работать и&nbsp;подключите шрифт на&nbsp;свой сайт.
					</p>
				</div>
				<div class="tabs__content-item tab5">
					<h3 class="tabs__content-title">
						Блочная модель, FlexBox и&nbsp;позиционирование
					</h3>
					<p class="tabs__content-text">
						В&nbsp;этом модуле вы&nbsp;узнаете, как грамотно управлять шириной,
						высотой, позиционированием блоков на&nbsp;странице, задавать отступы
						и&nbsp;гибко размещать блоки на&nbsp;сайте.
					</p>
				</div>
				<div class="tabs__content-item tab6">
					<h3 class="tabs__content-title">Хостинг и&nbsp;домен</h3>
					<p class="tabs__content-text">
						Пока ваши проекты доступны локально, только на&nbsp;вашем
						компьютере, из&nbsp;этого модуля вы&nbsp;узнаете, всю необходимую
						информацию, для того чтобы разместить их в&nbsp;интернете.
					</p>
				</div>
				<div class="tabs__content-item tab7">
					<h3 class="tabs__content-title">Адаптивная вёрстка</h3>
					<p class="tabs__content-text">
						Для того, чтобы ваш сайт хорошо смотрелся не&nbsp;только
						на&nbsp;мониторах, но&nbsp;и&nbsp;с&nbsp;мобильных устройств,
						необходимо прописать в&nbsp;ваш CSS-код медиа-запросы. В&nbsp;этом
						модуле вы&nbsp;узнаете что это такое и&nbsp;как ими пользоваться.
					</p>
				</div>
				<div class="tabs__content-item tab8">
					<h3 class="tabs__content-title">Git</h3>
					<p class="tabs__content-text">
						Познакомитесь с&nbsp;сервисом GitHub и&nbsp;системой управления
						версиями Git.
					</p>
				</div>
				<div class="tabs__content-item tab9">
					<h3 class="tabs__content-title">Ускорение работы</h3>
					<p class="tabs__content-text">
						Вы&nbsp;узнаете о&nbsp;том, как автоматизировать некоторые процессы
						веб-разработки, писать быстрый, понятный и&nbsp;легко читаемый код,
						а&nbsp;также использовать препроцессор для CSS, который может
						похвастаться большим количеством возможностей.
					</p>
				</div>
				<div class="tabs__content-item tab10">
					<h3 class="tabs__content-title">
						Псевдоэлементы и&nbsp;псевдоклассы
					</h3>
					<p class="tabs__content-text">
						Расскажем про различные состояния элементов и&nbsp;как
						их&nbsp;стилизовать.
					</p>
				</div>
				<div class="tabs__content-item tab11">
					<h3 class="tabs__content-title">JavaScript</h3>
					<p class="tabs__content-text">
						Вместе изучим основы языка программирования JavaScript
						и&nbsp;используем его для практических задач на&nbsp;сайте.
					</p>
				</div>
				<div class="tabs__content-item tab12">
					<h3 class="tabs__content-title">CSS Grid</h3>
					<p class="tabs__content-text">
						Узнаете, что такое двумерная система сеток в&nbsp;CSS
						и&nbsp;примените её&nbsp;на&nbsp;практике.
					</p>
				</div>
				<div class="tabs__content-item tab13">
					<h3 class="tabs__content-title">Отправка форм</h3>
					<p class="tabs__content-text">
						В&nbsp;этом модуле вы&nbsp;сверстаете и&nbsp;подключите форму для
						обратной связи на&nbsp;вашем сайте.
					</p>
				</div>
				<div class="tabs__content-item tab14">
					<h3 class="tabs__content-title">CSS-анимация</h3>
					<p class="tabs__content-text">
						Вы&nbsp;узнаете как прописывать CSS-анимацию, а&nbsp;также как
						использовать библиотеку с&nbsp;уже готовыми анимациями.
					</p>
				</div>
				<div class="tabs__content-item tab15">
					<h3 class="tabs__content-title">Оптимизация скорости сайта</h3>
					<p class="tabs__content-text">
						Оптимизируем работу своего сайта на&nbsp;хостинге.
					</p>
				</div>
				<div class="tabs__content-item tab16">
					<h3 class="tabs__content-title">Доступность</h3>
					<p class="tabs__content-text">
						Узнаете, как делать сайты более доступными, для людей
						с&nbsp;ограниченными возможностями.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>