<section class="question" id="question">
	<div class="container">
		<h2 class="question__title">
			Ответы на часто задаваемые вопросы
		</h2>
		<div data-spollers data-one-spoller class="spollers">
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset"><span>Кто мы?
					</span></button>
				<div class="spollers__text">
					Мы обыкновенные фрилансеры которые в своё время обучались и проходили курсы, мы знаем на сколько дорогими они
					бывают, по
					этому мы хотим сделать обучение более доступным
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Почему мы?
				</button>
				<div class="spollers__text">
					Всё обучение будет проводиться в телеграм.

					На марафон у нас отведено 10 дней, из которых 2 дня будут проводиться трансляции "вопрос-ответ", первая из них
					пройдёт
					в середине учебной недели, а вторая по её окончанию.

					После каждого урока у Вас будут домашние задания, которые мы будем проверять и давать по ним обратную связь.
					Уроки, длительностью 30-50 минут будут выходить раз в день в 7.00 по МСК, если на этот день не запланирована
					трансляция.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Как будет проходить
					марафон?</button>
				<div class="spollers__text">
					Всё обучение будет проводиться в телеграм.

					На марафон у нас отведено 10 дней, из которых 2 дня будут проводиться трансляции "вопрос-ответ", первая из них
					пройдёт
					в середине учебной недели, а вторая по её окончанию.

					После каждого урока у Вас будут домашние задания, которые мы будем проверять и давать по ним обратную связь.
					Уроки, длительностью 30-50 минут будут выходить раз в день в 7.00 по МСК, если на этот день не запланирована
					трансляция.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Будут ли розыгрыши на нашем
					марафоне?</button>
				<div class="spollers__text">
					Конечно! Среди участников марафона, мы разыграем бесплатное место на наш платный курс по веб-разработке
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Могу ли я посмотреть уроки в
					другой день?</button>
				<div class="spollers__text">
					Да, уроки не обязательно смотреть строго каждый день, но для хорошего усвоения материала, лучше не пропускать
					уроки
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Нужно ли заранее
					устанавливать какие-либо программы?</button>
				<div class="spollers__text">
					Нет, на первом уроке мы расскажем про нужные программы и плагины
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Нужно ли мне иметь какие-то знания заранее?</button>
				<div class="spollers__text">
					Нет, это не обязательно. Наш марафон подойдёт новичкам так как мы объясним всё с нуля
				</div>
			</div>
		</div>
	</div>
</section>