<section class="question" id="question">
	<div class="container">
		<h2 class="question__title title">
			Ответы на часто задаваемые вопросы
		</h2>
		<div data-spollers data-one-spoller class="spollers">
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset"><span>Кто мы?
					</span></button>
				<div class="spollers__text">
					Мы&nbsp;обыкновенные фрилансеры которые в&nbsp;своё время обучались и&nbsp;проходили курсы, мы&nbsp;знаем
					на&nbsp;сколько дорогими они
					бывают, по
					этому мы&nbsp;хотим сделать обучение более доступным.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Почему мы?
				</button>
				<div class="spollers__text">
					Всё обучение будет проводиться в&nbsp;телеграм.

					На&nbsp;марафон у&nbsp;нас отведено 10&nbsp;дней, из&nbsp;которых 2&nbsp;дня будут проводиться трансляции
					&laquo;вопрос-ответ&raquo;, первая из&nbsp;них
					пройдёт
					в&nbsp;середине учебной недели, а&nbsp;вторая по&nbsp;её&nbsp;окончанию.

					После каждого урока у&nbsp;Вас будут домашние задания, которые мы&nbsp;будем проверять и&nbsp;давать
					по&nbsp;ним
					обратную связь.
					Уроки, длительностью 30-50 минут будут выходить раз в&nbsp;день в&nbsp;7.00 по&nbsp;МСК, если на&nbsp;этот
					день
					не&nbsp;запланирована
					трансляция.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Будут&nbsp;ли розыгрыши
					на&nbsp;нашем
					марафоне?</button>
				<div class="spollers__text">
					Конечно! Среди участников марафона, мы&nbsp;разыграем бесплатное место на&nbsp;наш платный курс
					по&nbsp;веб-разработке.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Могу&nbsp;ли
					я&nbsp;посмотреть
					уроки в
					другой день?</button>
				<div class="spollers__text">
					Да, уроки не&nbsp;обязательно смотреть строго каждый день, но&nbsp;для хорошего усвоения материала, лучше
					не&nbsp;пропускать
					уроки.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Нужно&nbsp;ли заранее
					устанавливать какие-либо программы?</button>
				<div class="spollers__text">
					Нет, на&nbsp;первом уроке мы&nbsp;расскажем про нужные программы и&nbsp;плагины.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Нужно&nbsp;ли мне иметь
					какие-то
					знания заранее?</button>
				<div class="spollers__text">
					Нет, это не&nbsp;обязательно. Наш марафон подойдёт новичкам так как мы&nbsp;объясним всё с&nbsp;нуля.
				</div>
			</div>
		</div>
	</div>
</section>