<section class="question">
	<div class="container">
		<h2 class="title question-title">
			Ответы на часто задаваемые вопросы
		</h2>
		<div data-spollers data-one-spoller class="spollers">
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset"><span>Кто мы?
					</span></button>
				<div class="spollers__text">
					Мы&nbsp;обыкновенные фрилансеры, которые в&nbsp;своё время обучались и&nbsp;проходили курсы, мы&nbsp;знаем
					насколько дорогими они бывают, поэтому хотим сделать обучение более доступным.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Почему мы?
				</button>
				<div class="spollers__text">
					Не&nbsp;секрет, что вся информация для обучения есть на&nbsp;просторах интернета и&nbsp;бесплатно,
					но&nbsp;проблема
					её&nbsp;заключается в&nbsp;том, что вы&nbsp;не&nbsp;знаете с&nbsp;чего начать и&nbsp;как продолжать обучаться.
					Мы&nbsp;дадим вам СТРУКТУРИРОВАННУЮ базу знаний, которая поможет обучаться постепенно, не&nbsp;хватая лишнего
					и&nbsp;не&nbsp;пропуская важного. Мы&nbsp;подробно объясним каждую тему и&nbsp;ответим на&nbsp;ваши вопросы.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Будут&nbsp;ли розыгрыши
					на&nbsp;нашем
					марафоне?</button>
				<div class="spollers__text">
					Конечно! Среди участников марафона, мы&nbsp;проведём розыгрыш, приз которого будет на&nbsp;выбор победителя:
					беспроводные наушники, фитнес-браслет или портативная зарядка.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Какие бонусы будут
					на&nbsp;этом
					марафоне?</button>
				<div class="spollers__text">
					Всем участникам, оставившим видео-отзыв этого марафона, будет доступна скидка на&nbsp;все последующие курсы
					в&nbsp;20%.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Сколько часов в&nbsp;день мне
					нужно
					будет уделять учёбе?</button>
				<div class="spollers__text">
					Всё зависит только от&nbsp;вас. В&nbsp;начале учебной недели задачи не&nbsp;будут сложными и&nbsp;потребуют
					не&nbsp;много времени на
					их&nbsp;выполнение. Далее в&nbsp;среднем вам понадобится от&nbsp;1&nbsp;до&nbsp;4&nbsp;часов в&nbsp;день.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Могу&nbsp;ли
					я&nbsp;посмотреть
					уроки в
					другой день?</button>
				<div class="spollers__text">
					Да, уроки не&nbsp;обязательно смотреть строго каждый день, но&nbsp;для хорошего усвоения материала, лучше их
					не&nbsp;пропускать.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Нужно&nbsp;ли заранее
					устанавливать какие-либо программы?</button>
				<div class="spollers__text">
					Нет, на&nbsp;первом уроке мы&nbsp;расскажем про нужные программы и&nbsp;плагины.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset">Нужно&nbsp;ли мне иметь
					какие-то
					знания заранее?</button>
				<div class="spollers__text">
					Нет, это не&nbsp;обязательно. Наш марафон подойдёт новичкам так как мы&nbsp;объясним всё с&nbsp;нуля.
				</div>
			</div>
			<div class="spollers__item">
				<button tabindex="-1" type="button" data-spoller class="spollers__title btn-reset"><span>Почему стоит записаться
						сейчас?
					</span></button>
				<div class="spollers__text">
					Это наш превый марафон, первый поток которого будет проводиться на&nbsp;самых выгодных условиях.
					На&nbsp;данный момент мы&nbsp;считаем это нашим конкурентым преимуществом.
				</div>
			</div>
		</div>
	</div>
</section>