<section class="timetable" id="timetable">
	<div class="container">
		<h3 class="timetable__title">
			Расписание уроков
		</h3>
		<div class="tabs">
			<div class="tabs__header">
				<div class="tabs__header-item active">День 1</div>
				<div class="tabs__header-item">День 2</div>
				<div class="tabs__header-item">День 3</div>
				<div class="tabs__header-item">День 4</div>
				<div class="tabs__header-item">День 5</div>
				<div class="tabs__header-item">День 6</div>
				<div class="tabs__header-item">День 7</div>
				<div class="tabs__header-item">День 8</div>
				<div class="tabs__header-item">День 9</div>
				<div class="tabs__header-item">День 10</div>
			</div>
			<div class="tabs__content">
				<div class="tabs__content-item tab1">Вступительные уроки по теме "Какие бывают сайты"
					и "Редакторы кода"
				<p class="tabs__content-span">Мы расскажем про виды сайтов и про редакторы кода</p>
			</div>
				<div class="tabs__content-item tab2">Урок по теме "Основы HTML"
					<p class="tabs__content-span">Мы расскажем всю основу языка HTML</p>
				</div>
				<div class="tabs__content-item tab3">Урок по теме "Основы CSS"
					<p class="tabs__content-span">Мы расскажем всю основу языка CSS</p>
				</div>
				<div class="tabs__content-item tab4">Прямая трансляция "вопрос-ответ"
					<p class="tabs__content-span">Мы проведём первую прямую трансляцию где мы ответим на ваши вопросы в прямом эфире и расскажем про дальнейшие планы</p>
				</div>
				<div class="tabs__content-item tab5">Урок по теме "Дизайн макеты"
					<p class="tabs__content-span">Мы расскажем про программу для работы с макетами и научим с ней работать</p>
				</div>
				<div class="tabs__content-item tab6">Урок по теме "Блочная модель CSS"
					<p class="tabs__content-span">Мы расскажем вам что такое блочная модель CSS и как её использовать</p>
				</div>
				<div class="tabs__content-item tab7">Урок по теме "Flexbox CSS"
					<p class="tabs__content-span">Мы расскажем вам про Flex блоки и их свойства</p>
				</div>
				<div class="tabs__content-item tab8">Урок по теме "Практика вёрстки макета"
					<p class="tabs__content-span">Мы дадим вам макет и начнём его верстать</p>
				</div>
				<div class="tabs__content-item tab9">Урок по теме "Хостинг и домен"
					<p class="tabs__content-span">Мы расскажем и поможем подключить Хостинг и выложить свой сайт в интернет</p>
				</div>
				<div class="tabs__content-item tab10">Прямая трансляция с подводом итогов
					<p class="tabs__content-span">Мы проведём прямую трансляцию где расскажем что можно делать и изучать далее. Так же среди Вас
						мы разыграем бесплатное место на наш платный курс по веб-разработке</p>
				</div>
			</div>
		</div>
	</div>
</section>