<section class="timetable" id="timetable">
	<div class="container">
		<h2 class="timetable__title title">
			Расписание уроков
		</h2>
		<div class="tabs">
			<div class="tabs__header">
				<div class="tabs__header-item wow active">День 1</div>
				<div class="tabs__header-item wow">День 2</div>
				<div class="tabs__header-item wow">День 3</div>
				<div class="tabs__header-item wow">День 4</div>
				<div class="tabs__header-item wow">День 5</div>
				<div class="tabs__header-item wow">День 6</div>
				<div class="tabs__header-item wow">День 7</div>
				<div class="tabs__header-item wow">День 8</div>
				<div class="tabs__header-item wow">День 9</div>
				<div class="tabs__header-item wow">День 10</div>
			</div>
			<div class="tabs__content">
				<div class="tabs__content-item tab1">
					<h3 class="tabs__content-title">
						Вступительные уроки по&nbsp;теме &laquo;Какие бывают сайты&raquo;
						и&nbsp;&laquo;Редакторы кода&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;расскажем про виды сайтов и&nbsp;про редакторы кода</p>
				</div>
				<div class="tabs__content-item tab2">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Основы HTML&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;расскажем необходимую базу знаний HTML-тегов, для вёрстки простых макетов</p>
				</div>
				<div class="tabs__content-item tab3">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Основы CSS&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;расскажем необходимую базу знаний CSS-атрибутов и свойств для стилизации вашей вёртски</p>
				</div>
				<div class="tabs__content-item tab4">
					<h3 class="tabs__content-title">
						Прямая трансляция &laquo;вопрос-ответ&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;проведём первую прямую трансляцию где мы&nbsp;ответим на&nbsp;ваши вопросы
						в&nbsp;прямом
						эфире и&nbsp;расскажем про дальнейшие планы</p>
				</div>
				<div class="tabs__content-item tab5">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Дизайн макеты&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;расскажем про программу для работы с&nbsp;макетами и&nbsp;научим с&nbsp;ней
						работать</p>
				</div>
				<div class="tabs__content-item tab6">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Блочная модель CSS&raquo;
					</h3>
					<p class="tabs__content-text">
						Мы&nbsp;расскажем вам что такое блочная модель CSS и&nbsp;как её&nbsp;использовать
					</p>
				</div>
				<div class="tabs__content-item tab7">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Flexbox CSS&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;расскажем вам про flex-box технологию и&nbsp;её&nbsp;свойства</p>
				</div>
				<div class="tabs__content-item tab8">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Практика вёрстки макета&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;дадим вам макет и&nbsp;начнём его верстать</p>
				</div>
				<div class="tabs__content-item tab9">
					<h3 class="tabs__content-title">
						Урок по&nbsp;теме &laquo;Хостинг и&nbsp;домен&raquo;
					</h3>
					<p class="tabs__content-text">Мы&nbsp;расскажем и&nbsp;поможем подключить хостинг и&nbsp;выложить свой сайт
						в&nbsp;интернет</p>
				</div>
				<div class="tabs__content-item tab10">
					<h3 class="tabs__content-title">
						Прямая трансляция с&nbsp;подводом итогов
					</h3>
					<p class="tabs__content-text">Мы&nbsp;проведём прямую трансляцию где расскажем что можно делать и&nbsp;изучать
						далее.
						Также среди участников
						мы&nbsp;разыграем бесплатное место на&nbsp;наш платный курс по&nbsp;веб-разработке</p>
				</div>
			</div>
		</div>
	</div>
</section>