<section class="timer section">
	<div class="container">
		<h2 class="title timer-title wow">Старт через</h2>
		<div class="timer__wrap" id="countdown">

			<div class="timer-inner">
				<span class="days timer-inner__time">00</span>
				<span class="timer-inner__text">Дней</span>
			</div>

			<div class="timer-inner">
				<span class="hours timer-inner__time">00</span>
				<span class="timer-inner__text">Часов</span>
			</div>

			<div class="timer-inner">
				<span class="minutes timer-inner__time">00</span>
				<span class="timer-inner__text">Минут</span>
			</div>

			<div class="timer-inner">
				<span class="seconds timer-inner__time">00</span>
				<span class="timer-inner__text">Секунд</span>
			</div>

		</div>
	</div>
</section>