<section class="timetable section">
	<div class="container">
		<h2 class="title timetable-title">
			Расписание уроков
		</h2>
		<div class="tabs">
			<div class="tabs__header">
				<div class="tabs__header-item wow active">Модуль 0</div>
				<div class="tabs__header-item wow">Модуль 1</div>
				<div class="tabs__header-item wow">Модуль 2</div>
				<div class="tabs__header-item wow">Модуль 3</div>
				<div class="tabs__header-item wow">Модуль 4</div>
				<div class="tabs__header-item wow">Модуль 5</div>
				<div class="tabs__header-item wow">Модуль 6</div>
				<div class="tabs__header-item wow">Модуль 7</div>
				<div class="tabs__header-item wow">Модуль 8</div>
				<div class="tabs__header-item wow">Модуль 9</div>
			</div>
			<div class="tabs__content">
				<div class="tabs__content-item tab1">
					<h3 class="tabs__content-title">
						Вступительный модуль
					</h3>
					<p class="tabs__content-text">Расскажем про то&nbsp;как будет проходить марафон и&nbsp;покажем нужные
						программы
						и&nbsp;сервисы</p>
				</div>
				<div class="tabs__content-item tab2">
					<h3 class="tabs__content-title">
						Модуль вёрстки
					</h3>
					<p class="tabs__content-text">Дадим базу с&nbsp;помощью которой будет свёрстана веб-страница</p>
				</div>
				<div class="tabs__content-item tab3">
					<h3 class="tabs__content-title">
						CSS
					</h3>
					<p class="tabs__content-text">Углубимся в&nbsp;CSS и&nbsp;сверстаем первый лендинг</p>
				</div>
				<div class="tabs__content-item tab4">
					<h3 class="tabs__content-title">
						Git
					</h3>
					<p class="tabs__content-text">Познакомимся с&nbsp;сервисом GitHub и&nbsp;системой управления версиями Git</p>
				</div>
				<div class="tabs__content-item tab5">
					<h3 class="tabs__content-title">
						Gulp
					</h3>
					<p class="tabs__content-text">Расскажем про сборщик проектов Gulp и&nbsp;сделаем первую сборку для него</p>
				</div>
				<div class="tabs__content-item tab6">
					<h3 class="tabs__content-title">
						Основы JavaScript&rsquo;a
					</h3>
					<p class="tabs__content-text">
						Вместе изучим основы языка программирования JavaScript и&nbsp;на&nbsp;нём сделаем burger menu
					</p>
				</div>
				<div class="tabs__content-item tab7">
					<h3 class="tabs__content-title">
						Хостинг и&nbsp;домен
					</h3>
					<p class="tabs__content-text">Разберёмся с&nbsp;разными хостингами, зарегестрируем свой домен и&nbsp;подключим
						к&nbsp;хостингу</p>
				</div>
				<div class="tabs__content-item tab8">
					<h3 class="tabs__content-title">
						Форма обратной связи на&nbsp;сайт
					</h3>
					<p class="tabs__content-text">Подключим на&nbsp;сайт форму обратной связи с&nbsp;отправкой данных
						в&nbsp;telegram
						или на&nbsp;почту</p>
				</div>
				<div class="tabs__content-item tab9">
					<h3 class="tabs__content-title">
						Оптимизация
					</h3>
					<p class="tabs__content-text">Оптимизируем сайт по&nbsp;средствам сжатия изображений, кода.</p>
				</div>
				<div class="tabs__content-item tab10">
					<h3 class="tabs__content-title">
						Бонусный модуль
					</h3>
					<p class="tabs__content-text">Расскажем про анимацию на&nbsp;сайтах и&nbsp;подключим свою</p>
				</div>
			</div>
		</div>
	</div>
</section>