<section class="what section">
	<div class="container">
		<h2 class="title wow" id="what-title">Что будет на этом марафоне</h2>

		<div class="what__wrap">

			<div class="what__text wow">
				<svg class="what__icon">
					<use href="img/sprite.svg#learning"></use>
				</svg>
				<div class="what__inner">
					<h3 class="what__title">
						Теория с&nbsp;нуля
					</h3>
					<p class="what__descr">
						Марафон идеально подойдёт новичкам, потому что мы&nbsp;объясним всё с&nbsp;самых азов.
					</p>
				</div>
			</div>

			<div class="what__text wow">
				<svg class="what__icon">
					<use href="img/sprite.svg#portfolio"></use>
				</svg>
				<div class="what__inner">
					<h3 class="what__title">
						Вёрстка сайта для вашего портфолио
					</h3>
					<p class="what__descr">
						На&nbsp;марафоне мы&nbsp;вместе сверстаем первую работу, которую&nbsp;вы сможете добавить к&nbsp;себе
						в&nbsp;портфолио.
					</p>
				</div>
			</div>

			<div class="what__text wow">
				<svg class="what__icon">
					<use href="img/sprite.svg#question"></use>
				</svg>
				<div class="what__inner">
					<h3 class="what__title">
						Подробно ответим на&nbsp;ваши вопросы
					</h3>
					<p class="what__descr">
						Во&nbsp;время марафона будут проведены трансляции где&nbsp;вы сможете задать вопрос и&nbsp;получить
						на&nbsp;него ответ.
					</p>
				</div>
			</div>

			<div class="what__text wow">
				<svg class="what__icon">
					<use href="img/sprite.svg#link"></use>
				</svg>
				<div class="what__inner">
					<h3 class="what__title">
						Полезные ссылки
					</h3>
					<p class="what__descr">
						Мы&nbsp;дадим вам ссылки на&nbsp;полезные для веб-разработчика сервисы.
					</p>
				</div>
			</div>

			<div class="what__text wow">
				<svg class="what__icon">
					<use href="img/sprite.svg#task"></use>
				</svg>
				<div class="what__inner">
					<h3 class="what__title">
						Практические задачи
					</h3>
					<p class="what__descr">
						Для закрепления знаний у&nbsp;вас будут практические задачи, которые мы&nbsp;будем проверять и&nbsp;давать
						по&nbsp;ним
						обратную связь.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>