<section class="what">
	<div class="container">
		<h2 class="what__title title">
			Что будет на этом марафоне?
		</h2>
		<div class="what__desc-wrap">
			<div class="what__desc-inner">
				<div class="what-desc">
					<h3 class="what-desc__title">
						Теория с&nbsp;нуля
					</h3>
					<p class="what-desc__text">
						Марафон идеально подойдёт новичкам, потому что мы&nbsp;объясним всё с&nbsp;самого нуля.
					</p>
				</div>
				<div class="what-desc">
					<h3 class="what-desc__title">
						Вёрстка сайта для вашего портфолио
					</h3>
					<p class="what-desc__text">
						На&nbsp;марафоне мы&nbsp;вместе сверстаем первую работу для вашего портфолио.
					</p>
				</div>
				<div class="what-desc">
					<h3 class="what-desc__title">
						Подробно ответим на&nbsp;ваши вопросы
					</h3>
					<p class="what-desc__text">
						Во&nbsp;время проведения марафона будут проведенны две трансляции где&nbsp;Вы сможете задать вопрос
						и&nbsp;получить ответ.
					</p>
				</div>
				<div class="what-desc">
					<h3 class="what-desc__title">
						Полезные ссылки
					</h3>
					<p class="what-desc__text">
						Мы&nbsp;дадим вам ссылки на&nbsp;полезные для верстальщика веб-сервисы.
					</p>
				</div>
				<div class="what-desc">
					<h3 class="what-desc__title">
						Домашние задания
					</h3>
					<p class="what-desc__text">
						Для закрепления знаний у&nbsp;вас будут домашние задания которые мы&nbsp;будем проверять и&nbsp;давать
						по&nbsp;ним
						обратную связь.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>