<section class="whom section">
	<div class="container">
		<h2 class="title whom-title wow" id="whom-title">Кому подходит этот курс</h2>

		<div class="whom__wrap">
			<div class="whom__text wow">
				<svg class="whom__icon">
					<use href="img/sprite.svg#learning"></use>
				</svg>
				<div class="whom__inner">
					<h3 class="whom__title">Абсолютным новичкам</h3>
					<p class="whom__descr">
						Вы&nbsp;сможете с&nbsp;нуля освоить веб-разработку и&nbsp;открыть
						для себя мир IT-технологий. Для этого не&nbsp;нужно никаких знаний
						в&nbsp;этой сфере, мы&nbsp;возьмём Вас за&nbsp;руку и&nbsp;вместе
						пройдём этот интересный путь обучения.
					</p>
				</div>
			</div>

			<div class="whom__text wow">
				<svg class="whom__icon">
					<use href="img/sprite.svg#money"></use>
				</svg>
				<div class="whom__inner">
					<h3 class="whom__title">Тем, кто хочет хорошо зарабатывать</h3>
					<p class="whom__descr">
						Не&nbsp;секрет, что в&nbsp;IT крутятся неплохие деньги, поэтому
						работать в&nbsp;такой сфере выгодно. Объявление с&nbsp;зарплатой
						в&nbsp;100 тысяч рублей для большинства является настоящей вакансией
						мечты. Для айтишника это рядовое предложение о&nbsp;работе
						с&nbsp;обычной зарплатой для этой сферы.
					</p>
				</div>
			</div>

			<div class="whom__text wow">
				<svg class="whom__icon">
					<use href="img/sprite.svg#home"></use>
				</svg>
				<div class="whom__inner">
					<h3 class="whom__title">Если вы&nbsp;хотите стать фрилансером</h3>
					<p class="whom__descr">
						Фриланс безусловно имеет множество плюсов, один
						из&nbsp;них&nbsp;&mdash; это&nbsp;то, что для заработка
						необязательно посещать офис каждый день и&nbsp;вставать
						в&nbsp;7&nbsp;утра. А&nbsp;IT-специалисты, одни из&nbsp;самых
						востребованных сотрудников на&nbsp;фрилансе.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
