.form
	padding: 100px 0
	@media (max-width : 480px)
		padding: 20px 0

	&__wrap
		display: flex
		justify-content: flex-start
		@media (max-width : 992px)
			flex-direction: column

	&__inner
		width: 100%

.inner

	&__form-group
		display: flex
		align-items: center
		justify-content: space-between
		gap: 30px
		width: 100%

		@media (max-width : 480px)
			flex-direction: column
			gap: 0

.info
	display: flex
	flex-direction: column
	flex-shrink: 0
	margin-right: 100px
	@media (max-width : 992px)
		margin-right: 0
		margin-bottom: 50px

	&__wrap
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%

	&__inner
		margin-bottom: 30px
		&:last-child
			margin: 0

	&__descr
		margin: 0
		margin-bottom: 15px
		+adaptive-font(25, 18)
		color: $white
		&:last-child
			margin-bottom: 0

		&--accent
			color: $broom
			+adaptive-font(30, 20)

		&--sale
			position: relative
			&::after
				position: absolute
				content: ""
				width: 120%
				height: 3px
				background-color: #ff0000
				bottom: 50%
				left: -5px
				right: 0
				transform: rotate(170deg)

	&__limit
		margin: 0
		margin-bottom: 5px
		+adaptive-font(20, 16)
		color: $white
		font-style: italic
		&:last-child
			margin-bottom: 0

		&--accent
			color: $broom

.checkbox

	&__text
		margin: 0
		display: inline-block
		color: $white
		opacity: .85

	&__link
		text-decoration: underline

.btn__form
	margin-bottom: 20px
	&:disabled
		opacity: .5
		&:hover
			border: 2px $broom solid
			background-color: $accent-color
			color: $white
			cursor: inherit
