.hero
	height: calc(100vh - 104px)
	background-color: $accent-color

	&__container
		display: flex
		flex-direction: column
		height: 100%

	&__wrap
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 50px

		@media	(max-width : 768px)
			justify-content: center

	&__card
		display: flex
		flex-direction: column
		max-width: 750px
		color: $white

		@media	(max-width : 768px)
			align-items: center

	&__title
		margin: 0
		margin-bottom: 40px
		font-family: "Kazimir", sans-serif
		+adaptive-font (52, 30)
		color: $broom

		@media	(max-width : 768px)
			text-align: center

	&__subtitle
		margin: 0
		margin-bottom: 50px
		+adaptive-font (20, 16)

		@media	(max-width : 768px)
			text-align: center

	&__link
		max-width: 300px
		+adaptive-font (21, 18)

	&__img

		img
			width: 450px
			height: auto

			@media	(max-width : 992px)
				width: 350px

			@media	(max-width : 768px)
				display: none

	&-info
		display: flex
		align-items: center
		justify-content: space-between

		&__wrap
			position: relative

			&::after
				position: absolute
				content: ''
				top: -15px
				left: 0
				height: 2px
				width: 100%
				background-color: $broom

			&::before
				position: absolute
				content: ''
				top: 0
				bottom: 0
				left: -15px
				height: 100%
				width: 2px
				background-color: $broom

		&__title
			margin: 0
			margin-bottom: 10px
			+adaptive-font (18, 16)
			color: $broom

		&__descr
			margin: 0
			+adaptive-font (35, 16)
			color: $white
