.hero
<<<<<<< HEAD
	height: calc( 100vh - 105px )
=======
>>>>>>> work
	background-color: $accent-color

	&__container
		display: flex
		flex-direction: column
		height: 100%
		justify-content: space-around
		@media	(max-width : 440px)
			justify-content: space-evenly

	&__wrap
		display: flex
		align-items: center
		justify-content: space-between

		@media	(max-width : 768px)
			justify-content: center

	&__card
		display: flex
		flex-direction: column
		max-width: 750px
		color: $white

		@media	(max-width : 768px)
			align-items: center

	&__title
		margin: 0
		margin-bottom: 40px
		font-family: "Kazimir", sans-serif
		+adaptive-font (52, 32)
		color: $broom

		@media	(max-width : 768px)
			text-align: center

	&__subtitle
		margin: 0
		margin-bottom: 50px
		+adaptive-font (20, 18)

		@media	(max-width : 768px)
			text-align: center

	&__link
		max-width: 300px
		+adaptive-font (21, 18)

	&__img

		img
			width: 450px
			height: auto

			@media	(max-width : 992px)
				width: 350px

			@media	(max-width : 768px)
				display: none