.hero
	height: 100vh
	background-color: $accent-color

	&__container
		height: 100%

	&__wrap
		height: 100%

	&__card
		z-index: 5
		max-width: 600px
		padding: 30px
		border-radius: 15px
		background-color: $white
		color: $black

	&__title
		margin: 0

	&__subtitle
		margin: 0
