.how

	&__wrap
		display: flex
		justify-content: space-between
		position: relative
		height: 190px
		width: 100%

		&::after
			position: absolute
			left: 0
			top: 50%
			content: ''
			height: 2px
			width: 100%
			border: 1px solid $broom
			z-index: 5

	&__text
		display: flex
		color: $white
		transition: all .3s
		+adaptive-font (15, 11)

	&__inner
		justify-content: center
		max-width: 100px
		text-align: center
		display: flex
		position: relative

		&:hover

			&::after
				border: 1px solid $white
				background-color: $white

		&:hover .how__text
			+adaptive-font (17, 13)

		&:nth-child(even)
			align-items: flex-end

		&::after
			z-index: 10
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			border-radius: 50%
			content: ''
			height: 25px
			width: 25px
			border: 1px solid $broom
			background-color: $broom
