.politics
	padding-top: 150px
	color: $white
	line-height: 1.4
	opacity: 0.9

	&.menu
		display: none

	&__container
		min-height: calc(100vh - 115px)
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

	&__version
		width: 100%
		margin-bottom: 30px
		font-style: italic

	&__title
		max-width: 100%
		color: $white

	&__subtitle
		width: 100%
		margin: 0
		margin-bottom: 15px

	&__descr
		margin: 0
		margin-bottom: 30px

	&-list
		padding-left: 50px
		margin-bottom: 40px

		&__item
			margin-bottom: 5px

	&__text
		margin: 0
		margin-bottom: 5px

	&__link
		text-decoration: underline
