.thanks

	&__container
		height: calc(100vh - 115px)
		display: flex
		align-items: center
		justify-content: center

	&__title
		margin: 0
		+adaptive-font (54, 18)
		animation: tada
		animation-duration: 1s