.thanks
	padding: 100px 0 50px

	&__container
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

	&__title
		margin: 0
		margin-bottom: 50px
		max-width: 100%
		text-align: center
		+adaptive-font (54, 18)
		max-width: 100%
		animation: 3s neon alternate-reverse infinite

	&__link
		max-width: 300px
		+adaptive-font (24, 18)
