.timer
	background-color: #282828

	&__wrap
		display: flex
		justify-content: space-evenly

	&-inner
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		width: 200px
		height: 200px
		border-radius: 50%
		background-color: $accent-color

		&__time
			color: $white
			line-height: 130%
			margin-bottom: 15px
			+adaptive-font(25, 20)

		&__text
			color: $white
			opacity: .85
			line-height: 130%
			+adaptive-font(18, 16)
