.to-whom
	padding: 80px 0

	@media (max-width : 480px)
		padding: 20px 0

	&__wrap
		display: flex
		align-items: flex-start
		flex-direction: column

	&__text
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 40px
		color: $white

		@media	(max-width : 480px)
			flex-direction: column

	&__icon
		margin-right: 100px
		width: 100px
		max-height: 80px
		height: auto
		fill: $broom

		@media	(max-width : 768px)
			margin-right: 40px
			max-height: 50px

		@media	(max-width : 480px)
			margin: 0 auto
			margin-bottom: 15px

	&__inner
		position: relative
		width: 100%

		&::after
			content: ''
			position: absolute
			top: 50%
			left: -50px
			width: 10px
			height: 10px
			border-radius: 100%
			background-color: $broom
			transform: translateY(-50%)

			@media	(max-width : 768px)
				display: none

	&__title
		margin: 0
		margin-bottom: 15px
		+adaptive-font(23, 20)
		text-align: start

		@media	(max-width : 370px)
			text-align: center

	&__descr
		margin: 0
		+adaptive-font(18, 16)
		opacity: .85
		text-align: start

		@media	(max-width : 370px)
			text-align: center
