.tabs
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	padding: 50px 0

	&__header
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		flex-direction: column
		flex-shrink: 0
		gap: 20px

		&-item
			cursor: pointer
			color: $white
			border-bottom: 2px $white dashed
			padding-bottom: 2px
			transition: all .3s

			&:hover
				border-bottom: 2px $broom solid
				color: $broom

			&.active
				color: $broom
				border-bottom: 2px $broom solid

	&__content
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		font-size: 75px
		text-align: center

		&-item
			color: $white
			max-width: 1200px
			display: flex
			flex-direction: column
			text-align: center

		&-span
			font-size: 20px
