.tabs
	width: 100%
	display: flex
	justify-content: space-between
	padding: 50px 0

	&__header
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		flex-direction: column
		gap: 20px

		&-item
			margin: 0 25px
			cursor: pointer
			color: $white
			border-bottom: 2px $white dashed
			padding-bottom: 2px

			&:hover
				border-bottom: 2px $white solid

			&.active
				color: $broom
				border-bottom: 2px $broom solid

	&__content
		margin-top: 50px
		display: flex
		justify-content: center
		align-items: center
		font-size: 75px
		text-align: center

		&-item
			color: $white
			max-width: 1200px
			display: flex
			flex-direction: column
			text-align: center

		&-span
			font-size: 20px
